{% extends "base/base.html" %}

{% block title %}View Custom Codex{% endblock %}

{% block content_header %}{{ custom_codex.name }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ custom_codex.name }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4 font-weight-bold">Id:</div>
                <div class="col-8">{{ custom_codex.id }}</div>
            </div>
            <div class="row">
                <div class="col-4 font-weight-bold">Name:</div>
                <div class="col-8">{{ custom_codex.name }}</div>
            </div>
            <div class="row">
                <div class="col-4 font-weight-bold">Context Length:</div>
                <div class="col-8">{{ custom_codex.context_length }}</div>
            </div>
            <div class="row">
                <div class="col-4 font-weight-bold">Start Year:</div>
                <div class="col-8">{{ custom_codex.year_start }}</div>
            </div>
            <div class="row">
                <div class="col-4 font-weight-bold">End Year:</div>
                <div class="col-8">{{ custom_codex.year_end }}</div>
            </div>
            <div class="row">
                <div class="col-4 font-weight-bold">Tags:</div>
                <div class="col-8">{{ custom_codex.tags|join(', ') }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
