{% extends "base/base.html" %}

{% block title %}Add Article to Custom Codex{% endblock %}

{% block content_header %}Add Article to {{ custom_codex.name }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label for="article_id">Article:</label>
                    <select class="form-control" id="article_id" name="article_id">
                        {% for article in articles %}
                        <option value="{{ article.id }}">{{ article.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="article_type">Type:</label>
                    <select class="form-control" id="article_type" name="article_type">
                        <option value="None">None</option>
                        <option value="Full">Full</option>
                        <option value="Brief">Brief</option>
                        <option value="Custom">Custom</option>
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="custom_text">Custom Text:</label>
                    <textarea class="form-control" id="custom_text" name="custom_text" rows="3"></textarea>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
