{% extends "base/base.html" %}

{% block title %}Edit Article{% endblock %}

{% block content_header %}Edit Article{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Article Details
        </div>
        <div class="card-body p-4">
            <form method="POST">
                <div class="form-group">
                    <label for="id">Id:</label>
                    <input type="text" class="form-control mb-3" id="id" name="id" value="{{ article.id }}" disabled>
                </div>

                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control mb-3" id="title" name="title" value="{{ article.title }}">
                </div>

                <div class="form-group">
                    <label for="year_start">Start Year:</label>
                    <input type="number" class="form-control mb-3" id="year_start" name="year_start"
                        value="{{ article.year_start }}">
                </div>

                <div class="form-group">
                    <label for="year_end">End Year:</label>
                    <input type="number" class="form-control mb-3" id="year_end" name="year_end"
                        value="{{ article.year_end }}">
                </div>

                <div class="form-group">
                    <label for="tags">Tags:</label>
                    <input type="text" class="form-control mb-3" id="tags" name="tags"
                        value="{{ article.tags|join(', ') if article.tags else '' }}">
                </div>

                <div class="form-group">
                    <label for="text">Full Text:</label>
                    <textarea class="form-control mb-3" id="text" rows="5" name="text">{{ article.text }}</textarea>
                </div>

                <div class="form-group">
                    <label for="summary">Summary:</label>
                    <textarea class="form-control mb-3" id="summary" rows="3"
                        name="summary">{{ article.summary }}</textarea>
                </div>

                <div class="form-group">
                    <label for="brief">Brief:</label>
                    <textarea class="form-control mb-3" id="brief" rows="2" name="brief">{{ article.brief }}</textarea>
                </div>

                <div class="form-group">
                    <label for="owner_id">Owner Id:</label>
                    <input type="text" class="form-control mb-3" id="owner_id" name="owner_id"
                        value="{{ article.owner_id }}" disabled>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
