{% extends "base/base.html" %}

{% block title %}View Article{% endblock %}

{% block content_header %}
<div class="d-flex justify-content-between align-items-center">
    <h3>{{ article.title }}</h3>
    <div>
        <a href="/article/{{ article.id }}/generate-summary" class="btn btn-primary">Generate Summary</a>
        <a href="#" class="btn btn-primary">Generate Brief</a>
        <a href="#" class="btn btn-primary">Generate Dates</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ article.title }}</h3>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">Id:</div>
                <div class="col-8">{{ article.id }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">Title:</div>
                <div class="col-8">{{ article.title }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">Year Range:</div>
                <div class="col-8">
                    {% if article.year_start and article.year_end %}
                    {{ article.year_start }} - {{ article.year_end }}
                    {% elif article.year_start %}
                    From {{ article.year_start }}
                    {% elif article.year_end %}
                    Until {{ article.year_end }}
                    {% else %}
                    Not specified
                    {% endif %}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">Tags:</div>
                <div class="col-8">{{ article.tags|join(', ') if article.tags else 'No tags' }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">Full Text:</div>
                <div class="col-8">{{ article.text|truncate(200) if article.text else 'No full text available' }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">Summary:</div>
                <div class="col-8">{{ article.summary if article.summary else 'No summary available' }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">Brief:</div>
                <div class="col-8">{{ article.brief if article.brief else 'No brief available' }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">Owner:</div>
                <div class="col-8">{{ article.owner_id }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
